
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  overflow-x: hidden;
}

/* .homepage_bg {
  background :url("../src/assests/image/bghome.svg");
} */

/* .blachButton{
  @apply cursor-pointer rounded-md bg-richblack-800 px-[20px]
py-[8px] font-semibold text-richblack-5;
}

/* Template.css */
/* @media only screen and (max-width: 640px) {
  .template-container {
    padding: 1rem;
    flex-direction: column;
    font-size: 0.9rem;
  }

  .image-section {
    width: 100%;
    margin-top: 1rem;
  }

  .form-section {
    width: 100%;
  }

  .button {
    padding: 0.75rem;
    font-size: 0.875rem;
  }
} */ 